#page-body {
    background: url("./images/homepage-customer-story-headspace-xs-bg-2.png") no-repeat center bottom/cover;
    min-height: 100%;
}

.navbar-brand img {
    width: 80%;
}

div.front-col-img img {
    max-width: 100% !important;
    /* max-height: 100% !important; */
    border-radius: 18px !important;
}

#front-img {
    margin-left: 4rem;

}

#front-img p, #front-img h3 {
    text-align: left;
}

.front2-img img {
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 18px !important;
}

/* #crm-div{
    background: url("./images/php-breaker-desktop-1.png") no-repeat center bottom/cover;
    min-height: 100%;
} */
.front2-img {
    margin-bottom: 50px;
}

.breaker-img img {
    max-width: 100% !important;
}

.front-roll2 img, .front-roll3 img {
    max-width: 100%;

}

.front-roll3 img {
    border-radius: 18px;
}

.topic-div {
    width: 90%;
    margin-left: 2rem;
    border-radius: 18px;

}

.app-salesforce img, .app-salesforce2 img {
    width: 80%;
    max-width: 410px;
}

.app-salesforce2 h2 {
    color: #032d60;
    font-weight: 700;
    line-height: 1;
}

.app-text, .app-text2 {
    padding-top: 6rem !important;
}

.app-div {
    max-width: 80%;
}

.bottom-div {
    background-color: #d8e6fe;
    border-radius: 18px;

}

.bottom-div div {
    margin: 0 auto;
    width: 40%;
}

.update-div img {
    width: 60%;

}

.update-div {
    position: relative;
}

.update-img-div {
    position: absolute;
    top: -90px;
    left: -5rem;
}

.update-img-div2 {
    position: absolute;
    top: 130px;
    left: 65%;
}

.footer-img img {
    display: inline;
    width: 30px;

}

footer {
    margin-top: 13rem;
}

footer a {
    text-decoration: none;
}


/* NAV Section Media */
@media screen and (max-width: 990px) {
    .hide-div {
        display: none !important;
        visibility: hidden !important;
    }
}

/* What’s new at Salesforce? */

@media screen and (max-width: 990px) {
    div.front-col-img img {
        max-width: 80% !important;
        /* max-height: 100% !important; */
        border-radius: 18px !important;
    }
}

/* Explore groups and topics relevant to you. */
@media screen and (max-width: 990px) {
    .topic-div {
        max-width: 60% !important;
        /* max-height: 100% !important; */
        border-radius: 18px !important;
        margin: auto;
    }

}

@media screen and (max-width: 540px) {
    .div-app-salesforce div {
        margin: auto;
    }

    .app-salesforce img {
        max-width: 60%;
    }
}

/* Salesforce virtual events. Coming to a device near you. */
@media screen and (max-width: 990px) {
    .front-roll3 div {
        margin: auto !important;
    }

    .front-roll3 div img {
        width: 60%;
    }
}

#navbarSupportedContent a, .div-phone, .div-contact, .div-login {
    color: #215ca0 !important;
}

/* Dark Mode */

.mode-black, .footer-black {
    background-color: black;
    color: white;
}

.footer-black a {
    color: white !important;
}

/* .white-anchor {
    color: white !important;
}


#navbarSupportedContent ul li a {
    color:white !important;
    
    } */

/* COUPON */
#coupon {
    width: 40%;
    margin: 0 auto;
    background-color: lightcyan;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    top: 80px;
    left: 30%;
    visibility: hidden;
    animation: 1s ease-out 0s 1 slideInFromTop;

}

.coupon-span-div span {

    font-weight: bold;
    font-size: 2rem;
    color: darkblue;
    border: 1px dashed #215ca0;
    border-radius: 5px;
    padding: 2px 5px;
}

.coupon-div {
    margin-top: 20px;
}

.coupon-span-div {
    margin-top: 10px;
}

.coupon-img {
    margin-top: 20px;
    text-align: center;

}

.promo {
    text-align: center;
}

.blink-text {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.promo-span {
    font-weight: bold;
    font-size: 2rem;
    color: red;
    border: 1px dashed darkred;
    border-radius: 5px;
    padding: 2px 5px;
}

#coupon button {
    border: 1px solid red;
    color: red;
}

/* slide in coupon from top */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 540px) {
    .coupon-span-div {
        width: 60%;
        margin-top: 5px;
        margin-left: 10%;
    }

    .coupon-span-div span {
        font-weight: bold;
        font-size: 1rem;
    }
}