
#page-body {
    background: url("./images/homepage-customer-story-headspace-xs-bg-2.png") no-repeat center bottom/cover;
    min-height: 100%;
}


div.col.front-col-img img{
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 18px !important;
}
#front-img{
   margin-left: 4rem;

}
    
.front2-img img{
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 18px !important;
}

/* #crm-div{
    background: url("./images/php-breaker-desktop-1.png") no-repeat center bottom/cover;
    min-height: 100%;
} */
.front2-img {
    margin-bottom: 50px;
}
.breaker-img img{
    max-width: 100% !important;
}

.front-roll2 img,.front-roll3 img {
    max-width: 100%;
    
}
.front-roll3 img {
    border-radius: 18px;
}

.topic-div {
    width: 90%;
    margin-left: 2rem;
    border-radius: 18px;
    
}
.app-salesforce img,.app-salesforce2 img{
    max-width: 80%;
}
.app-text,.app-text2 {
    padding-top: 6rem !important;
}
.app-div {
    max-width: 80%;
}
.bottom-div {
    background-color: #d8e6fe;
    border-radius:18px;
    
}
.bottom-div div{
    margin: 0 auto;
    width: 40%;
}

.update-div img {
    width: 60%;
    
}
.update-div {
    position: relative;
}

.update-img-div {
    position: absolute;
    top: -90px;
    left: -5rem;
}

.update-img-div2 {
    position: absolute;
    top: 130px;
    left:65%;
}

.footer-img img {
    display: inline;
    width: 13%;
    
}
footer {
    margin-top: 13rem;
}